html, body, * {
    box-sizing: border-box;
  }
  .container {
    background-image: url("https://image.shutterstock.com/image-photo/green-leaves-tropical-plants-bush-260nw-1556705276.jpg");
    background-size : 50vw 50vh;
    width: 100%;
    height: 30vh;  
    border-radius: 20px;
    z-index: 2;
  }
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
  }
  .overlay.visible {
    opacity: 1;
    visibility: visible;
  }
  .section{ 
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      max-width: 80%;
      margin: auto;
      margin-top: 20px;
      font-family: 'Ubuntu', sans-serif;
      padding: 10px;
    }
    .section-left{
      flex-direction: row-reverse;
    }
    .text-small{
      font-size: 18px;
    }
    .paras{
      padding: 0px 65px;
    }
    .sectionTag{
      padding: 16px 0;
    }
    .sectionSubTag{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .thumbnail img{
      width: 250px;
      border: 2px solid black;
      border-radius: 26px;
      margin-top: 19px;
    }
    @media only screen and (max-width: 1140px){
      .section{
          flex-direction: column-reverse;
      }
      .text-small{
          text-align: center;
      }
      .text-big{
          text-align: center;
      }
      .paras {
      padding: 0px;
    }
  }